/*** Base Styles ***/

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #d6d4e0;
}

h1{
	text-align: center;
	font-size: 175%
}

section
{
	background-color: #b8a9c9;
	font-size: 130%;
	border: 1px solid black;
	margin: 20px;
	padding-left: 10px
}

p{
	position: relative;
	margin-top: 0px;
	padding-right: 3px;
	border: 1px solid black;
	text-align: right;
	font-size: 140%;
	font-style: bold;
	color: #ffffff;
	float:right;
}

#chickensection{
	background-color: #e06377;
}

#beefsection{
	background-color:  #a2836e ;
}

#sushisection{
	background-color:  #c83349 ;
}


/***** Desktop View ****/

@media (min-width: 992px){
	#firstsection{
		width: 30%;
		float: left;
		margin-right: 10px;
	}
	#secondsection{
		width: 30%;
		float: left;
		margin-right: 10px;
	}
	#thirdsection{
		width: 30%;
		float: left;
		margin-right: 10px;
	}
}

/***** Tablet View ****/

@media(min-width: 768px) and (max-width: 991px){
	#firstsection{
		width:43%;
		float: left;
	}

	#secondsection{
		width: 43%;
		float: right;
	}

	#thirdsection{
		width: 95%;
		clear: right;
	}
}

@media(max-width:767px ){
	#firstsection{
		width:90%;
		float: left;
	}

	#secondsection{
		width: 90%;
		float: left;
	}

	#thirdsection{
		width: 90%;
		float:left;
	}

}



